@import "tailwindcss";
@import "./components/toast.css";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #0f0e0f;
}

.primary-color {
  background-color: #ff6501;
}

.background-dark {
  background-color: #101012;
}

.hero-background {
  background-image: url("/public/hero.webp");
}

.background_2 {
  background-image: url("/public/background-2.webp");
}

.background_3 {
  background-image: url("/public/background_3.webp");
}

.background_2_reversed {
  background-image: url("/public/background-2-invertido.webp");
}

.linear-gradient-primary {
  background: #ff924a;
  background: linear-gradient(
    -180deg,
    rgba(255, 146, 74, 1) 19%,
    rgba(255, 101, 1, 1) 67%
  );
}

@layer utilities {
  .bg-glass {
    @apply !bg-white/0 !border-white/30 !shadow-lg;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
  }
}
